# Dependency constraints for Elastic-LOLBin-Detection-Pack
# This file pins all dependencies and sub-dependencies to specific versions
# to ensure reproducible builds and avoid conflicts

# Direct dependencies
pysigma==0.11.23
pysigma-backend-elasticsearch==1.1.6
elasticsearch==7.10.1
pytest==7.4.4
black==24.10.0
flake8==7.1.1
isort==5.13.2
jsonschema==4.23.0
urllib3==1.26.18
jinja2==3.1.6
pyyaml==6.0.2
typing-extensions==4.12.2

# Sub-dependencies (pinned for stability)
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.2
idna==3.10
iniconfig==2.0.0
jsonschema-specifications==2024.10.1
markupsafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
sigma-cli==1.0.3
tomli==2.1.0

 